@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.bgImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.react-datepicker-wrapper {
  display: block !important;
}

.btnClass {
  padding: 0.5rem 1.4rem;
  border-radius: 0.38rem;
}

/* Add this CSS to your stylesheets */
.truckLists {
  scrollbar-width: thin; /* Set the width of the scrollbar */
}

/* For WebKit browsers (Chrome, Safari) */
.truckLists::-webkit-scrollbar {
  width: 8px;
}
